<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add kanji</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <h2>Add Kanji</h2>
    <form action="/kanji" method="post">
        <div class="form-group">
            <label for="word">Word</label>
            <input type="text" class="form-control" name="word" id="word" placeholder="Word">
        </div>
        <div class="form-group">
            <label for="chineseVietnameseWord">Chinese-Vietnamese Word</label>
            <input type="text" class="form-control" name="chineseVietnameseWord" id="chineseVietnameseWord" placeholder="Chinese-Vietnamese Word">
        </div>
        <div class="form-group">
            <label for="vietnameseMeaning">Vietnamese Meaning</label>
            <textarea class="form-control" rows="3" name="vietnameseMeaning" id="vietnameseMeaning" placeholder="Vietnamese Meaning"></textarea>
        </div>
        <div class="form-group">
            <label for="kunyomi">Kunyomi</label>
            <input type="text" class="form-control" name="kunyomi" id="kunyomi" placeholder="Kunyomi">
        </div>
        <div class="form-group">
            <label for="onyomi">Onyomi</label>
            <input type="text" class="form-control" name="onyomi" id="onyomi" placeholder="Onyomi">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
</body>
<!--<script src="../../node_modules/jquery/jquery.min.js"></script>-->
<!--<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->
</html>